*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 40vw;
    height: 100vh;
    background-image: url(pictures/jerry-wang-PSezIH-yesA-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

body {
    font-family: helvetica arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.header{
    height: 33vh;
    background-color: #f5f3ec;
}

.sign-up {
    height: 33vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3em;
    margin-top: 3em;
    
}

.sign-up p {
    flex: 1 1 50%;
    
    
}

.sign-up
p
label {
    display: block;
}

.sign-up
p
input {
   height: 40px;
   width: 300px;
}

.footer {
    height: 33vh;
    background-color: #f5f3ec;
}