*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 40vw;
    height: 100vh;
    background-image: url(pictures/jerry-wang-PSezIH-yesA-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 100%;
    height: 15vh;
    background-color: #00000072;
    position: relative;
    top: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo h1{
    color:#f5f3ec;
    font-size: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.main {
    background-color:#f5f3ec ;
}
.header{
    height: 33vh;
    background-color: #f5f3ec;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;
    


    
}

.header h1{
    max-width: 970px;
    margin-left: 3rem;
    color: #323232;
    
    

    
    
}
.formdiv {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px 0 lightgray;
}

.formdiv h1 {
    
    margin-left: 3rem;
    padding-top: 1rem;
    color: #323232;
    
}

.sign-up {
    height: 33vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-top: 2rem;
    
}


.sign-up p {
    flex: 1 1 50%;
    display: inline-block;
    width: 50%;
    
    
    
}

.sign-up
p
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: darkslategrey;
    margin-bottom: 4px;
}

.sign-up
p
input {
   height: 40px;
   width: 300px;
   font-size: 20px;
   padding: 10px;
}


.footer {
    height: 33vh;
    background-color: #f5f3ec;
    box-shadow: inset 0 5px 5px 0 lightgray;
}

.footer p {
    margin-left: 3rem;
    font-size: 18px;
    color: #323232;
}

.footer a {
    text-decoration: none;
    color:rgb(81, 168, 238)
}

.createacc {
    margin: 3rem;
    height: 70px;
    width: 250px;
    border-radius: 12px;
    border: none;
    background-color: rgb(81, 168, 238);
    font-size: 20px;
    color: #f5f3ec;
    box-shadow: 0 0 5px 2px lightgray;
}
.createacc:hover {
    background-color: rgb(45, 147, 231);
}