*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 40vw;
    height: 100vh;
    background-image: url(pictures/jerry-wang-PSezIH-yesA-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

body {
    font-family: helvetica arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.main {
    background-color:#f5f3ec ;
}
.header{
    height: 33vh;
    background-color: #f5f3ec;
    
    
}

.header h1{
    max-width: 970px;
    margin-top: 
    margin-left: 3rem;
    
    
}
.formdiv {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px 0 lightgray;
}

.formdiv h1 {
    
    margin-left: 3rem;
}

.sign-up {
    height: 33vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3rem;
    
}


.sign-up p {
    flex: 1 1 50%;
    display: inline-block;
    width: 50%;
    
    
    
}

.sign-up
p
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: darkslategrey;
    margin-bottom: 4px;
}

.sign-up
p
input {
   height: 40px;
   width: 300px;
   font-size: 20px;
   padding: 10px;
}


.footer {
    height: 33vh;
    background-color: #f5f3ec;
    box-shadow: inset 0 5px 5px 0 lightgray;
}